<body><div class="jumbotron border border-primary">
<form>
    <div class="form-row">
    <div class="form-group col-md-5 pt-0">
      <label for="contaOrigem" class="form-label">Conta Origem</label>
      <input type="text" class="form-control" id="contaOrigem" placeholder="Insira sua Conta" aria-describedby="contaOrigem">
    </div>
    <div class="form-group col-md-1 pt-0">
        <label for="contaOrigemDig" class="form-label">Digito</label>
        <input type="text" class="form-control" id="contaOrigemDig" aria-describedby="contaOrigem">
      </div>
      </div>
      <div class="form-row">
    <div class="form-group col-md-5 pt-0">
      <label for="contaDestino" class="form-label">Conta Destino</label>
      <input type="text" class="form-control" id="contaDestino" placeholder="Insira a Conta de Destino">
    </div>
    <div class="form-group col-md-1 pt-0">
        <label for="contaDestinoDig" class="form-label">Digito</label>
        <input type="text" class="form-control" id="contaDestinoDig" aria-describedby="contaDestino">
      </div>
</div>

<div class="form-row">
    <div class="form-group col-md-4 pt-0">
      <label for="valor" class="form-label">Valor da Transação</label>
      <input type="number" class="form-control" id="valor" placeholder="Insira o valor" aria-describedby="valor">
    </div>
    </div>
    <button type="submit" class="btn btn-primary">Enviar</button>
  </form>
  </div>
  </body>